<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-6">
            <h2>Chat</h2>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Client invoke</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Message">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
        <div class="col-md-6">
           <food-component></food-component>
        </div>
    </div>

    <hr>

    <footer>
        <p>&copy; 2016 Offering.Solutions</p>
    </footer>
</div>
<!-- /container -->