src/AspNetCoreAngular2/node_modules/
src/AspNetCoreAngular2/bower_components/
src/AspNetCoreAngular2/obj
src/AspNetCoreAngular2/wwwroot/js
src/AspNetCoreAngular2/typings
src/AspNetCoreAngular2/bin
src/AspNetCoreAngular2/.vscode
.vs/
npm-debug.log
